.App{
    height: 600px;
    width: 600px;
    background-color: rgb(250, 254, 243);
    margin: 20px auto;
    border: 3px solid rgb(128,128,128);
    border-radius: 100px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    padding: 80px;
}

.buttons{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 50% 50%;
}

.submit{
    margin-left: -525px;
    background-color: rgb(88,149,209);
    width: 200px;
}