input{
    margin-left: 20px;
    width: 250px;
    height: 80px;
    border-radius: 40px;
    border: 2px solid rgb(128,128,128);
    font-size: 28px;

}

.firstNumber{
    margin-top: 220px;
}
.secondNumber{
    margin-top: 60px;
}